#features {
  padding: 60px 0;
  overflow: hidden;
}

.sectionTitle {
  text-align: center;
  padding-bottom: 30px;
}

.sectionTitle h2 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: #222222;
}

.sectionTitle p {
  margin: 15px 0 0 0;
}

.sectionTitle h2::before {
  margin: 0 15px 10px 0;
}

.sectionTitle h2::after {
  margin: 0 0 10px 15px;
}

.sectionTitle h2::before,
.sectionTitle h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #14279b;
  display: inline-block;
}

.iconBox {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #f6f6f6;
  transition: ease-in-out 0.3s;
}

.iconBox svg {
  font-size: 2rem;
  padding-right: 10px;
  line-height: 1;
}

.iconBox h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 1rem;
}

.iconBox h3 a {
  color: #222222;
  transition: ease-in-out 0.3s;
}

.iconBox:hover {
  background: #eef7fc;
}

.iconBox svg {
  height: 16%;
  width: 16%;
}
